/* 
  Variables 
*/

.c-tf-toggle-button {
  /* toggle button */
  --tf-tb-min-width-primary: 54px; 
  --tf-tb-min-height-primary: 32px; 
  --tf-tb-min-width-secondary: 40px; 
  --tf-tb-min-height-secondary: 24px; 
  --tf-tb-border: none;
  --tf-tb-box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.12);
  --tf-tb-border-radius: 20px;

  /* inner circle */
  --tf-tb-ic-size-primary: 26px;
  --tf-tb-ic-size-secondary: 19px;
  --tf-tb-ic-border-radius: 20px;
  --tf-tb-ic-box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
}

/*
  Base button
*/

.c-tf-toggle-button {
  border: var(--tf-tb-border);
  border-radius: var(--tf-tb-border-radius);
  -moz-box-shadow:    var(--tf-tb-box-shadow);
  -webkit-box-shadow: var(--tf-tb-box-shadow);
  box-shadow:         var(--tf-tb-box-shadow);
  background-color: var(--x-color-gray-1);
  text-align: left;
}

/*
  Inner circle
*/

.c-tf-toggle-button__inner-circle {
  width: var(--tf-tb-ic-size);
  height: var(--tf-tb-ic-size);
  border-radius: var(--tf-tb-ic-border-radius);
  -moz-box-shadow:    var(--tf-tb-ic-box-shadow);
  -webkit-box-shadow: var(--tf-tb-ic-box-shadow);
  box-shadow:         var(--tf-tb-ic-box-shadow);
}

/*
  Size Group
*/

.c-tf-toggle-button--primary {
  min-width: var(--tf-tb-min-width-primary);
  min-height: var(--tf-tb-min-height-primary);
}

.c-tf-toggle-button--secondary {
  min-width: var(--tf-tb-min-width-secondary);
  min-height: var(--tf-tb-min-height-secondary);
}

.c-tf-toggle-button__inner-circle--primary {
  width: var(--tf-tb-ic-size-primary);
  height: var(--tf-tb-ic-size-primary);
}

.c-tf-toggle-button__inner-circle--secondary {
  width: var(--tf-tb-ic-size-secondary);
  height: var(--tf-tb-ic-size-secondary);
}

/*
  Pressed
*/

.c-tf-toggle-button--pressed {
  text-align: right;
  background-color: var(--x-color-green-5);
}

/*
  Color Group
*/

.c-tf-toggle-button--pressed.c-tf-toggle-button--neutral {
  background-color: var(--x-color-indigo-5);
}

/*
  Disabled
*/

.c-tf-toggle-button--disabled {
  background-color: var(--x-color-gray-2) !important;
}
